/* ------ Color Theme ------
Kuler: Visual Narrative A
https://color.adobe.com/Visual-Narrative-A-color-theme-3493242/?showPublished=true

white: #F5ECD9
blue: #2BACB5
middle: #B4CCB9
red: #E84D5B
black: #3B3B3B

-------------------------- */

* { box-sizing: border-box; }

body {
  font-family: 'Work Sans', Sans-Serif;
  font-size: 16px;
  background-color: #3b3b3b;
  color: #F5ECD9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Neuton', Serif;
  text-align: center;
}

h1 {
  font-size: 49px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 27px;
}

section {
  margin: auto;
}

.container {
  display: flex;
}

table {
  border-spacing: 0;
}

tbody tr:hover td {
  border-top: 2px solid #2BACB5;
  border-bottom: 2px solid #2BACB5;
}

tbody tr:hover td:first-child {
  border-left: 2px solid #2BACB5;
  border-radius: 6px 0 0 6px;
}

tbody tr:hover td:last-child {
  border-right: 2px solid #2BACB5;
  border-radius: 0 6px 6px 0;
}
