/* ------ Color Theme ------
Kuler: Visual Narrative A
https://color.adobe.com/Visual-Narrative-A-color-theme-3493242/?showPublished=true

white: #F5ECD9
blue: #2BACB5
middle: #B4CCB9
red: #E84D5B
black: #3B3B3B

-------------------------- */

* { box-sizing: border-box; }

body {
  font-family: 'Work Sans', Sans-Serif;
  font-size: 16px;
  background-color: #3b3b3b;
  color: #F5ECD9;
  margin: 0;
}

a {
  color: #F5ECD9;
}

a:hover {
  color: #2BACB5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Neuton', Serif;
  text-align: center;
}

h1 {
  font-size: 49px;
}

h1 a {
  text-decoration: none;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 27px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

header {
  background-color: #2BACB5;
}

header a:hover {
  color: #B4CCB9;
}

header .container {
  display: flex;
  justify-content: space-between;
}

nav form {
  display: none;
  position: absolute;
  background-color: #2BACB5;
  padding: 0 20px 20px 20px;
  border-radius: 0 0 10px 10px;
}

nav li {
  display: inline-block;
}

#my-cars ul {
  display: none;
  position: absolute;
  background-color: #2BACB5;
  padding: 0 20px 20px 20px;
  border-radius: 0 0 10px 10px;
}

#my-cars li {
  display: block;
}

#add-fillup {
  display: none;
}

table {
  border-spacing: 0;
}

tbody td {
  padding: 5px;
  height: 50px;
  white-space: nowrap;
}

tbody tr td {
  border-top: 2px solid #3b3b3b;
  border-bottom: 2px solid #3b3b3b;
}

tbody tr td:first-child {
  border-left: 2px solid #3b3b3b;
  border-radius: 6px 0 0 6px;
}

tbody tr td:last-child {
  border-right: 2px solid #3b3b3b;
  border-radius: 0 6px 6px 0;
}

tbody tr.edit-row td {
  border-radius: 6px;
}

tbody tr:hover td,
tbody tr:hover td:first-child,
tbody tr:hover td:last-child,
tbody tr.edit-row td {
  border-color: #2BACB5;
}

.edit-delete a {
  color: #F5ECD9;
  display: none;
  padding: 5px;
}

tbody tr:hover .edit-delete a {
  display: inline-block;
}

/* - - - Errors - - - */
span.error {
  color: #F5ECD9;
  background-color: #E84D5B;
}

form.error {
  border: 2px solid #E84D5B;
}

/* - - - Forms - - - */
.edit-row {
  display: none;
}

.edit-fillup-form div {
  display: inline-block;
}

.cancel-button,
.cancel-edit-fillup {
  background: none;
  border: none;
  color: #F5ECD9;
  font-size: 1.2em;
  cursor: pointer;
}
