/* ------ Color Theme ------
Kuler: Visual Narrative A
https://color.adobe.com/Visual-Narrative-A-color-theme-3493242/?showPublished=true

white: #F5ECD9
blue: #2BACB5
middle: #B4CCB9
red: #E84D5B
black: #3B3B3B

-------------------------- */
html {
  height: 100%;
}

* { box-sizing: border-box; }

body {
  font-family: 'Work Sans', Sans-Serif;
  font-size: 16px;
  background-color: #3b3b3b;
  color: #F5ECD9;
  margin: 0;
  position: relative;
  min-height: 100%;
  padding-bottom: 120px;
}

a {
  color: #F5ECD9;
}

a:hover {
  color: #2BACB5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Neuton', Serif;
  text-align: center;
}

h1 {
  font-size: 49px;
}

h1 a {
  text-decoration: none;
}

#logo {
  font-size: 30px;
  margin: 15px 0;
}

h2 {
  font-size: 35px;
  margin: 30px 0;
}

h3 {
  font-size: 27px;
}

.container {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 0;
}

header {
  background-color: #2BACB5;
}

header a:hover {
  color: #B4CCB9;
}

header .container {
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

#main-nav {
  margin-top: 25px;
}

nav form {
  display: none;
  position: absolute;
  right: 0;
  background-color: #2BACB5;
  padding: 0 20px 20px 20px;
  border-radius: 0 0 10px 10px;
}

nav li {
  display: inline-block;
}

#flash {
  display: none;
  position: absolute;
  top: -30px;
  color: #F5ECD9;
  font-weight: bold;
  background-color: #2BACB5;
  border-radius: 0 0 10px 10px;
  border: 2px solid #F5ECD9;
  border-top: none;
  padding: 10px;
  text-align: center;
}

#my-cars ul {
  display: none;
  position: absolute;
  right: 0;
  width: 200px;
  background-color: #2BACB5;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

#my-cars li {
  display: block;
  padding: 3px;
}

#my-cars li a {
  text-decoration: none;
}

#add-fillup {
  display: none;
}

/* - - - Landing Page - - - */
.landing-page {
  border-radius: 10px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

#welcome {
  max-width: 50%;
}

.landing-page h1 {
  line-height: 1em;
  margin-bottom: 0;
}

.landing-page p {
  text-align: center;
  line-height: 1.4em;
  margin: 15px 15px 30px 15px;
}

.landing-page:nth-child(2) div,
.landing-page:nth-child(3) div {
  width: 50%;
}

.landing-page:nth-child(2) {
  background-image: url('../images/antique-1851236_1920.jpg');
  background: linear-gradient(to left, rgba(59, 59, 59, 1), rgba(59, 59, 59, 1), rgba(59, 59, 59, 0)), url('../images/antique-1851236_1920.jpg');
  background-size: cover;
  padding: 20px;
  margin: 40px 0;
}

.landing-page:nth-child(3) {
  background-image: url('../images/truck-2588019_1920.jpg');
  background: linear-gradient(to right, rgba(59, 59, 59, 1), rgba(59, 59, 59, 1), rgba(59, 59, 59, 0)), url('../images/truck-2588019_1920.jpg');
  background-size: cover;
  padding: 20px;
  margin-bottom: 40px;
}

#my-landing-page-cars {
  width: 100%;
  padding: 0;
}

#my-landing-page-cars li {
  display: inline-block;
  width: 50%;
  padding: 20px;
  text-align: center;
}

#my-landing-page-cars li a {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border: 2px solid #2BACB5;
  border-radius: 10px;
  text-decoration: none;
}


/* - - - Fillups table - - - */
table {
  border-spacing: 0;
}

th {
  padding: 5px 10px;
}

tbody td {
  padding: 5px;
  height: 50px;
  white-space: nowrap;
  text-align: center;
}

tbody tr td {
  border-top: 2px solid #3b3b3b;
  border-bottom: 2px solid #3b3b3b;
}

tbody tr td:first-child {
  border-left: 2px solid #3b3b3b;
  border-radius: 6px 0 0 6px;
}

tbody tr td:last-child {
  border-right: 2px solid #3b3b3b;
  border-radius: 0 6px 6px 0;
}

tbody tr.edit-row td {
  border-radius: 6px;
}

tbody tr:hover td,
tbody tr:hover td:first-child,
tbody tr:hover td:last-child,
tbody tr.edit-row td {
  border-color: #2BACB5;
}

.edit-delete a {
  color: #F5ECD9;
  display: none;
  padding: 5px;
}

tbody tr:hover .edit-delete a {
  display: inline-block;
}

/* - - - Errors - - - */
span.error {
  color: #F5ECD9;
  background-color: #E84D5B;
}

.submit-error {
  display: block;
  text-align: center;
  border-radius: 4px;
}

form.error {
  border: 2px solid #E84D5B;
}

/* - - - Forms - - - */
.edit-row {
  display: none;
}

.edit-row input.mileage,
.edit-row input.price,
.edit-row input.gallons {
  width: 40px;
}

.edit-row span {
  display: block;
}

.edit-fillup-form div {
  display: inline-block;
}

.submit-edit-fillup {
  cursor: pointer;
  background: #F5ECD9;
  border: 2px solid #2BACB5;
  border-radius: 6px;
  padding: 3px 6px;
}

#new-fillup .cancel-button,
#new-car-form .cancel-button,
.cancel-edit-fillup {
  background: none;
  border: none;
  color: #F5ECD9;
  font-size: 1.2em;
  cursor: pointer;
}

td.edit-delete {
  position: relative;
}

.delete-confirmation {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #E84D5B;
  color: #3b3b3b;
  background-color: #F5ECD9;
  border-radius: 6px;
  padding: 6px;
  text-align: center;
  z-index: 9;
}

.delete-confirmation button {
  cursor: pointer;
  background-color: #3b3b3b;
  border-radius: 4px;
  padding: 4px 8px;
  margin-top: 8px;
}

.confirm-delete-fillup {
  border: 1px solid #B4CCB9;
  color: #B4CCB9;
}

.cancel-delete-fillup {
  border: 1px solid #E84D5B;
  color: #E84D5B;
}

#landing-page-signup {
  color: #3b3b3b;
  background-color: #F5ECD9;
  border: 2px solid #B4CCB9;
  border-radius: 10px;
  padding: 0 30px 30px 30px;
  width: 310px;
  text-align: center;
}

#new-car-form button,
#new-fillup button,
#login button,
#signup button,
#landing-page-signup button {
  border: 2px solid #B4CCB9;
  color: #B4CCB9;
  border-radius: 10px;
  background-color: #3b3b3b;
  padding: 5px 8px;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
}

#new-car-form button:hover,
#new-fillup button:hover,
#login button:hover,
#signup button:hover,
#landing-page-signup button:hover {
  color: #F5ECD9;
  border-color: #F5ECD9;
}

nav label,
#landing-page-signup label {
  display: block;
  padding: 0 0 5px 0;
  text-align: right;
}

textarea {
  width: 90%;
}

input,
textarea {
  border: 2px solid #B4CCB9;
  border-radius: 3px;
}

input:focus,
textarea:focus {
  border-color: #2BACB5;
  outline: none;
}

nav form {
  width: 300px;
  text-align: center;
  padding: 0 30px 30px 30px;
}

nav input:focus,
nav textarea:focus {
  border-color: #F5ECD9;
}

/* - - - Footer - - - */
footer {
  background-color: #212121;
  font-size: 0.9em;
  padding: 20px;
  margin-top: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;  
}

footer .container {
  display: flex;
  justify-content: space-between;
}

/* - - - Responsive - - - */
@media screen and (max-width:630px) {
  header .container,
  .landing-page,
  footer .container {
    flex-wrap: wrap;
  }

  table {
    width: 80%;
    margin: 0 auto;
  }

  thead {
    display: none;
  }

  tbody tr td {
    border-top: none;
    border-bottom: none;
    border-right: 2px solid #F5ECD9;
    border-left: 2px solid #F5ECD9;
    padding: 10px 20px 0 20px;
  }

  tbody tr td:first-child {
    border-top: 2px solid #F5ECD9;
    border-right: 2px solid #F5ECD9;
    border-left: 2px solid #F5ECD9;
    border-radius: 10px 10px 0 0;
  }

  tbody tr td:last-child {
    border-bottom: 2px solid #F5ECD9;
    border-right: 2px solid #F5ECD9;
    border-left: 2px solid #F5ECD9;
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
    height: auto;
  }

  tbody td {
    display: block;
    text-align: right;
    height: 25px;
  }

  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .edit-delete a {
    display: inline-block;
  }

  .edit-delete a:hover {
    color: #2BACB5;
  }

  .edit-row div {
    display: block;
    text-align: left;
  }

  tbody tr.edit-row td {
    border-radius: 10px;
    padding: 20px; 
  }

  .edit-row label {
    position: relative;
  }

  .edit-row label span {
    display: inline-block;
    width: 30%;
  }

  .edit-row label span.error {
    display: inline-block;
    width: auto;
  }

  .edit-row input {
    margin-bottom: 10px;
  }
}